{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">
		<div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ '/home/arezlam/Bureau/symfony/projettest1/src/Controller/UtilisateurController.php'|file_link(0) }}">src/Controller/UtilisateurController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ '/home/arezlam/Bureau/symfony/projettest1/templates/utilisateur/index.html.twig'|file_link(0) }}">templates/utilisateur/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div>

		<form class="row g-3 was-validated">
			<div class="col-md-4">
				<label for="validationServer01" class="form-label">First name</label>
				<input type="text" class="form-control" id="validationServer01" value="Mark" required>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class='invalid-feedback'>
					Not good
				</div>

			</div>
			<div class="col-md-4">
				<label for="validationServer02" class="form-label">Last name</label>
				<input type="text" class="form-control " id="validationServer02" value="Otto" required>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class='invalid-feedback'>
					Not good
				</div>
			</div>
			<div class="col-md-4">
				<label for="validationServerUsername" class="form-label">Username</label>
				<div class="input-group has-validation">
					<span class="input-group-text" id="inputGroupPrepend3">@</span>
					<input type="text" class="form-control " id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class='invalid-feedback'>
						Not good
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<label for="validationServer03" class="form-label">City</label>
				<input type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required>
				<div id="validationServer03Feedback" class="invalid-feedback">
					Please provide a valid city.
				</div>
				<div id="validationServer03Feedback" class="valid-feedback">
					valid city.
				</div>
			</div>
			<div class="col-md-3">
				<label for="validationServer04" class="form-label">State</label>
				<select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback" required>
					<option selected disabled value="">Choose...</option>
					<option>...</option>
				</select>
				<div id="validationServer04Feedback" class="invalid-feedback">
					Please select a valid state.
				</div>
				<div id="validationServer04Feedback" class="valid-feedback">
					valid state.
				</div>
			</div>
			<div class="col-md-3">
				<label for="validationServer05" class="form-label">Zip</label>
				<input type="text" class="form-control " id="validationServer05" aria-describedby="validationServer05Feedback" required>
				<div id="validationServer05Feedback" class="invalid-feedback">
					Please provide a valid zip.
				</div>
				<div id="validationServer05Feedback" class="valid-feedback">
					valid zip.
				</div>
			</div>
			<div class="col-12">
				<div class="form-check">
					<input class="form-check-input " type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
					<label class="form-check-label" for="invalidCheck3">
						Agree to terms and conditions
					</label>
					<div id="invalidCheck3Feedback" class="invalid-feedback">
						You must agree before submitting.
					</div>
					<div id="invalidCheck3Feedback" class="valid-feedback">
						must agree.
					</div>
				</div>
			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">Submit form</button>
			</div>

		</form>
	</div>

	{% block javascipts %}

		<script>

			// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms).forEach(function (form) {
form.addEventListener('submit', function (event) {
if (! form.checkValidity()) {
event.preventDefault()
event.stopPropagation()
}

form.classList.add('was-validated')
}, false)
})
})()
		</script>

	{% endblock %}

{% endblock %}
