{% extends 'base.html.twig' %}

{% block title %}Hello Produit{% endblock %}

{% block body %}
    {% for produit in produits %}
    <div>
        {{produit.name}}
    </div>
    {% endfor %}
{% endblock %}
